name: Collect Velib Data

on:
  schedule:
    - cron: "*/10 * * * *"   # toutes les 10 minutes
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run script
        run: python collect.py

      - name: Commit updated dataset
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add velib_history.csv
          git commit -m "Update dataset" || echo "No changes"
          git push
